
.menu, li, a
{
    display:flex;
    padding: 10px;
}
.menu
{
    border-top: 1px solid red;
   margin-top: 20px;
   border-bottom:1px solid red ;
}

.bgcolor
{
    background: #dc3545;
}
.slideimg img
{
    height: 450px;
}

    .toggler { width: 1100px; height: 400px; position: relative; }
    #button { padding: .5em 1em; text-decoration: none; }
    #effect { width: 1100px; height: 400px; padding: 0.4em; position: relative; background: rgb(224, 33, 33); }
    #effect h3 { margin: 0; padding: 0.4em; text-align: center; }